.wrapper {
  display: flex;
  height: 100vh;
}
.chat_main{
  width: calc(100% - 300px); 
  position: flex;
  .main-header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    overflow: scroll;
    .header-left{
      margin-top: 35px;
      .left-box-username{
        font-size: 20px;
        color: $black;
        margin-bottom: 15px;
        display: flex;
        list-style: none;
      }
      .left-box-u{
      display: flex;
      font-size: 12px;
      color: $gray;
      list-style: none;
        .left-box-un{
          display: list-item;
          font-size: 12px;
          color: $gray;
        } 
        .a{
          display: list-item;
          font-size: 12px;
          color: $gray;
        }  
      }
    }
  }
         
      .edit-btm {
        height: 40px;
        width: 35px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 28px;
        border: solid 1px $bule;
        position: absolute;
        right: 40px;
        color: $bule;
        text-align: center;
        a {
          color: $bule;
          text-decoration:none;
        }
      }
        
   
  .messages{
    height: calc(100vh - 190px);
    padding: 50px 40px 15px;
    overflow: scroll;
    box-sizing: border-box;
    .message{
      .upper-message{
        display: flex;
        .upper-message__user-name{
          box-sizing: border-box;
          color: $gray1;
          font-size: 16px;
          font-weight: bold;
        }
        .upper-message__date{
          margin-bottom: 12px;
          box-sizing: border-box;
          color: $gray;
          font-size: 12px;
          margin-left: 12px;
        }
      }
      .lower-message{
        color: $gray1;
        font-size: 14px;
        margin-bottom: 55px;
      }
    }
  }
 
  .form{
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;
    box-sizing: border-box;

    .new_message {
      display: flex;
      .input_box{
        position: relative;
        width: 100%;
        .input_text{
          height: 50px;
          width: 100%;
          padding-left: 5px;
          color: #434a54;
          border-style: none;
          
        }
        .from__input__image{
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          .hidden{
            display: none;
          }

        }
      }
      .from__submit-btn{
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
      }
    }
  }
}